<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none" color="primary">
      <ion-icon slot="start" name="arrow-undo" (click)="exitLobby()"></ion-icon>
      <ion-icon name="layers"></ion-icon>
      <ion-title>
        Lobby
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-col size="5" class="ion-text-center">
      <ion-label>Name</ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-label>Level</ion-label>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <div *ngIf="leader === true">
        <ion-button color="danger" (click)="deleteLobby()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-col size="5">
        <ion-label>{{ user.name }}</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <!-- <ion-label>{{ player.userLevel }}</ion-label> -->
        <ion-label>0</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <div *ngIf="user.id === data.userId && leader === true">
          <ion-icon name="flag" color="primary" size="large"></ion-icon>
        </div>
        <div *ngIf="user.id !== data.userId && leader === true">
          <ion-button color="danger" (click)="deleteLobby()">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>