<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none" color="primary">
      <ion-icon slot="start" name="arrow-undo" (click)="exitLobby()"></ion-icon>
      <ion-icon name="layers"></ion-icon>
      <ion-title>
        Lobby
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-col size="5" class="ion-text-center">
      <ion-label>Name</ion-label>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-label>Level</ion-label>
    </ion-col>
    <ion-col size="3" class="ion-text-center">
      <ion-button color="danger" (click)="deleteLobby()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let player of players">
      <ion-col size="5">
        <ion-label>{{ player.name }}</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <!-- <ion-label>{{ player.userLevel }}</ion-label> -->
        <ion-label>0</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-button>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>